---
layout: default
title: Tags
---
<div id="post-body">
    <h1>Tags</h1>
    <ul>
        {% for tag in site.data.tags %}
        <li>
            <h3 id="{{ tag }}">{{ tag }}</h3>
            <ul>
                {% for post in site.p %}
                {% if post.tags contains tag %}
                <li><a href="{{ post.url | remove: 'index.html'}}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>