:root {
    --text-color-title: #eee;
    --text-color-theme-first: #1c5527;
    --text-color-theme-second: #091e00;

    --strip-color: #2d6631;
    --background-color-theme: #154010a1;

    --background-image: url(/assets/images/bg/cherryBlossom.jpg);
}