:root {
    --text-color-title: #eee;
    --text-color-theme-first: #1c456a;
    --text-color-theme-second: #042331;
    
    --strip-color: #375c6f;
    --background-color-theme: #154055a3;

    --background-image: url(/assets/images/bg/hakureiShrine.jpg);
}