:root {
    --text-color-title: #eee;
    --text-color-theme-first: #173d4d;
    --text-color-theme-second: #000;
    
    --strip-color: #547584;
    --background-color-theme: #0d3346ba;

    --background-image: url(/assets/images/bg/netherStairs.jpg);
}