:root {
    --text-color-theme-first: #9ec4ee;
    --text-color-theme-second: #bbd0e3;

    --strip-color: #3d4e68;
    --background-color-theme: #12354aad;

    --background-image: url(/assets/images/bg/torriMorning.jpg);
}