:root {
    --text-color: #222;
    --text-color-vice: #999;
    --theme-color-text-first: #385f6f;
    --theme-color-text-second: #1f3640;
    --theme-color-background-first: #a1a1a1c9;
    --theme-color-background-second: #dfdfdfc9;
    --background-color: #ffffffc9;
    --background-image: url(/assets/images/fgsHakugyokurou.jpg);
    --background-postion: 0% 0%;
}

/*
.horizontal-list{
    padding: 0;
    margin: 0;
}
.horizontal-list a{
    text-decoration: none;
}
.horizontal-list li{
    list-style: none;
    float: left;
}*/

/*Universal*/
.fclean{
    clear: both; /*清除浮动*/
}
img{
    max-width: 100%; /*防止图片溢出*/
}
a{
    color: var(--theme-color-text-first);
}
a:hover{
    color: var(--theme-color-text-second);
}
.text-vice{
    color: var(--text-color-vice);
    font-size: 90%;
}
.panel{
    background-color: var(--background-color);
    box-shadow: 0 0 25px black;
}
.panel-title{
    background-color: var(--theme-color-background-second);
    margin: 0;
    padding: 10px 0px 10px 0px;
    text-align: center;
}
.panel-content{
    padding: 10px 20px 20px 20px;
}

body{
    background-image: var(--background-image);
    background-position: var(--background-postion);
    background-size: cover;
    background-attachment: fixed; /*固定背景*/
    color: var(--text-color);
}
#home{
    margin: 15px auto;
    width: 80%;
    min-width: 800px;
}
#sidebar{
    float: left;
    width: 280px;
}
#sidebar .panel{
    margin-bottom: 20px;
}
#main{
    margin-left: 310px; 
    padding: 20px 60px 20px 40px;
}
#footer{
    border-top: 2px solid var(--theme-color-background-first);
    margin-top: 50px;
    text-align: center;
}

/*post-body*/
#post-body{
    line-height: 150%;
}
#post-body blockquote{
    border-left: 5px solid var(--theme-color-background-first);
    padding: 1px 0px 1px 30px;
}
/*small objects*/
#theme-switch{
    position: fixed;
    left: 5px;
    bottom: 5px;
}
/*---modules---*/
#sidebar-profile{
    text-align: center;
    padding-top: 20px;
}
#sidebar-profile .avatar {
    width: 61%;
    border: 3px solid var(--theme-color-background-first);
    border-radius: 50%;
    padding: 10px;
    background-image: radial-gradient(var(--background-color) 60%, var(--theme-color-background-first) 100%);
}
#sidebar-profile .nickname {
    font-size: 110%;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 10px;
}
#sidebar-profile .nav{
    color: var(--text-color-vice);
}
#sidebar-contents{
    padding-bottom: 10px;
}
#sidebar-contents .panel-content{
    height: 700px;
    overflow-y: auto;
}