:root{
    --text-color: #ddd;
    --text-color-vice: #999;
    --theme-color-text-first: #d976ca;
    --theme-color-text-second: #b952aa;
    --theme-color-background-first: #8a327c;
    --theme-color-background-second: #3c003c;
    --background-color: #000000b5;
    --background-image: url(/assets/images/stairsOfHakugyokurou.png);
    --background-postion: 0% 0%;
}