:root{
    --text-color: #ddd;
    --background-color: #000000b5;

    --text-color-theme-first: #85b4e6;
    --text-color-theme-second: #ceddec;

    --strip-color: #3c5b84;
    --background-color-theme: #084468ad;

    --highlight-color-comment: #64c164;
    --highlight-color-name: #96cddf;
}

/*Chrome scrollbar darkize*/
::-webkit-scrollbar{
    width: unset;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(50,50,50,.5);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(50,50,50,.7);
}
::-webkit-scrollbar-track{
    background-color: rgba(50,50,50,.1);
}