---
layout: root
---
<div id="home">
    <div id="main" class="panel panel-content">
        {{ content }}
    </div>
    <div id="sidebar">
        {% for module in site.data.sidebar_modules %}
            <div id="{{ module.id }}" class="panel">
                {% if module.title %}
                <h2 class="panel-title">{{ module.title }}</h2>
                {% endif %}
                <div class="panel-content">
                    {% include {{ module.src }} %}
                </div>
            </div>
        {% endfor %}
        {% if page.layout == "post" %}
            <div id="contents" class="panel">{% include contents.html %}</div>
        {% endif %}
    </div>
    <div class="fclean"></div>
    <div id="footer" class="text-vice">
        {% include footer.html %}
    </div>
</div>
{% include round_buttons.html %}
{% include theme.html %}
<script src="/assets/js/theme_data.js"></script>
<script src="/assets/js/round_button_manager.js"></script>
<script src="/assets/js/theme_manager.js"></script>

<script src="/assets/js/scroll.js"></script>