---
layout: root
---
<link rel="stylesheet" href="/assets/css/default.css">

<div id="home">
    <div id="header">
        {% include header.html %}
    </div>
    <!--
        <div id="portal">
            {% include portal.html %}
        </div>
    -->
    <div id="sidebar">
        {% for module in site.data.sidebar_modules %}
            <div id="{{ module.id }}">
                {% include {{ module.src }} %}
            </div>
        {% endfor %}
    </div>
    <div id="main">
        {{ content }}
    </div>
    <div class="fclean"></div>
    <div id="footer" class="text-vice">
        {% include footer.html %}
    </div>
</div>

<script src="/assets/js/scroll.js"></script>